@import 'simple-texture/home/variables';
@import 'simple-texture/common/normalize';
@import 'simple-texture/common/animate';
@import 'simple-texture/common/fonts';
@import 'simple-texture/common/helper';
@import 'simple-texture/common/pace';
@import 'simple-texture/common/social-icons';
@import 'simple-texture/home/fullpage';

body {
    font-size: 18px;
    line-height: 36px;

    color: $color-text-dark;
    background-color: #F0F0F0;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
}


#menu {
    display: none;
}

.section {
    text-align: center;

    span {
        padding: 0 10px 0 10px;
    }
}

#section0 {
    background: url("") repeat 0 0 rgba(240, 240, 240, 1);
    background-size: cover;
}
#section1 {
    background: url('../card/back.png') repeat 0 0 #F0F0F0;
    background-size: cover;
}
#section2 {
    background: url('../card/back.png') repeat 0 0 #F0F0F0;
    background-size: cover;

}
#fullPage-nav {
    span {
        border: 1px solid #8A8A8A;
    }

    li .active span {
        background: #707070;
    }
}


.btn-light,
.btn-dark {
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    text-decoration: none;

    color: $color-text-light;
    border: 1px solid #150E1F;
    outline: none;

    &:hover {
        border: 1px solid $color-text-light;
    }
}

.btn-dark {
    background-color: $color-background-dark !important;
    &:hover,
    &:focus {
        background-color: $color-background-light !important;
    }
}

.btn-light {
    background-color: $color-background-light !important;
    &:hover,
    &:focus {
        background-color: $color-background-dark !important;
    }
}

.btn-enter {
    padding: 4px 6px 0 4px;
}

.btn-continue {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;

    display: inline-block;

    width: 32px;
    height: 32px;
    margin-left: -30px;
    padding: 12px;

    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    outline: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
        -webkit-animation-name: bounce;
                animation-name: bounce;
    }
}
.btn-before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;

    display: inline-block;

    width: 32px;
    height: 32px;
    margin-left: -30px;
    padding: 12px;

    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    outline: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
        -webkit-animation-name: bounce;
                animation-name: bounce;
    }
}
.social-links {
    $icon-size: 64px;
    a {
        display: inline-block;

        width: $icon-size;
        height: $icon-size;
        margin: 18px;

        background-size: $icon-size $icon-size;
    }
}

.pointer {
    cursor: pointer;
}

@import 'simple-texture/home/responsive';

