<script src="{{ site.baseurl }}/assets/javascripts/jquery.fullPage.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/jquery.easing.min.js"></script>
<script>
    $(document).ready(function () {
        $.fn.fullpage({
            anchors: ['character', 'team','ability'],
            css3: true,
            fixedElements: '.site-notice',
            menu: '#menu',
            navigation: true,
            navigationPosition: 'right',
            resize: false,
            scrollingSpeed: 500,

            afterLoad: function (anchorLink, index) {
                if (index === 1) {
                    $('#section0 .btn-continue').removeClass('hidden').addClass('bounce');
                }
                if (index === 2) {
                    $('#section1 .btn-before').removeClass('hidden').addClass('bounce');
                    $('#section1 .btn-continue').removeClass('hidden').addClass('bounce');
                }
                if (index === 3) {
                    $('#section2 .btn-before').removeClass('hidden').addClass('bounce');
                }
            },

            onLeave: function (index) {
                if (index == 1) {
                    $('#section0 .btn-continue').addClass('hidden').removeClass('bounce');
                }
                if (index === 2) {
                    $('#section1 .btn-before').addClass('hidden').removeClass('bounce');
                    $('#section1 .btn-continue').addClass('hidden').removeClass('bounce');
                }
                if (index === 3) {
                    $('#section2 .btn-before').addClass('hidden').removeClass('bounce');
                }
            }
        });
    });

</script>
<script>
function getParam(sname) {

    var params = location.search.substr(location.search.indexOf("?") + 1);

    var sval = "";

    params = params.split("&");

    for (var i = 0; i < params.length; i++) {

        temp = params[i].split("=");

        if ([temp[0]] == sname) { sval = temp[1]; }

    }

    return sval;

}

</script>