<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    <ul id="menu">
        <li data-menuanchor="character"><a href="#character">character</a></li>
        <li data-menuanchor="team"><a href="#team">team</a></li>
        <li data-menuanchor="ability"><a href="#ability">team</a></li>
    </ul>

    <div id="section0" class="section" data-name="character" card="back" onclick="changeImage()">
        {% include common/notices.html %}

        <a class="btn-continue animated bounce" href="#team"><img src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
    </div>

    <div id="section1" class="section" data-name="team">
        {% include common/notices.html %}
        <a class="btn-before animated hidden" href="#character"><img style="transform:rotate(180deg);" src="../assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
        <a class="btn-continue animated hidden" href="#ability"><img src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
        
    </div>
    <div id="section2" class="section" data-name="ability">
        {% include common/notices.html %}
        <a class="btn-before animated hidden" href="#team"><img style="transform:rotate(180deg);" src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
        <div id="abil">

        </div>

    </div>
    
    {% include card/scripts.html %}
    <script>
        const name = decodeName(getParam("id"));

        function changeImage(){
            if($('#section0').attr("card") == "back"){
                $('#section0').attr("card","front");
                $('#section0').css({"background-image": "url(../assets/card/"+name+".png)"});
            }
            else{
                $('#section0').attr("card","back");
                $('#section0').css({"background-image": "url(../assets/card/back.png)"});
            } 
            
        }
        function incodeName(str){
            let result="";
            for( i in str){
                let temp = str.charCodeAt(i) - 7 - i;
                result += String.fromCharCode(temp);
            }    
            //짝수면 -10-인덱스
            //홀수면 +10+인덱스
            //26개 a=97 A=65
            return result;
        }
        function decodeName(str){
            let result="";
            for(i in str){
                let temp = str.charCodeAt(i) + 7 + parseInt(i);
                result += String.fromCharCode(temp);
            }
            return result;
        }
        function getColor(str){
            if(str[0]=="B") return "Blue";
            else if(str[0]=="R") return "Red";
            return "Gray";
        }

        const ability = {
            "Blue":"ㅎㅇㅌ",
            "BlueAgent":"라운드당 한번<br>다른 플레이어에게 `요원입니다`<br>하면서 카드를 보여주면,<br>상대방은 반드시 카드를 보여줘야 합니다",
            "BlueAmbassar":"자신의 카드를 공개 한다면, <br> 두 방 사이를 자유롭게 다닐 수 있습니다 <br><br> 단, 리더및 인질은 <br> 될 수 없으며, <br> 투표도 할 수 없습니다",
            "BlueAngel":"오직 <br> 진실만을 말해야 합니다",
            "BlueBlind":"게임이 끝날 때 까지 <br>눈을 감고 있어야 합니다",
            "BlueBouncer":"카드를 공개 후, <br> 자신이 있는 방이 <br> 반대편 방 보다 사람이 많을 경우<br> 아무 플레이어(리더제외)를 내쫒을 수 있습니다",
            "BlueClown":"게임이 끝날 때 까지 <br> 최선을 다해 웃고 있어야 합니다",
            "BlueCoyboy":"당신은 수줍어서 <br> 카드공유를 할 때 <br> 자신의 색깔만 보여줄 수 있습니다",
            "BlueDemon":"오직 <br> 거짓만을 말해야 합니다",
            "BlueKnight":"폭탄범과 카드공유를 한다면,<br> 즉시 승리합니다!",
            "BlueMime":"게임이 끝날 때 까지 <br> 말을 할 수 없습니다",
            "BluePresident":"게임 종료시,<br>폭탄범과 같은 방에 있다면 패배합니다 <br><br> 마지막에 서로 다른 방에 있어야 승리합니다!",
            "BlueSecurity":"카드를 모두에게 공개 한 후,<br> 한명을 지목해 <br> 단 한라운드 동안만 지켜줍니다 <br><br> 전체 게임동안 능력은 한번만 쓸 수 있습니다",
            "BlueShy":"당신은 낯을 많이 가려서 <br> 카드(색조차) 공유를 할 수 없습니다<br><br>자신의 카드를 <br>그냥 보여주는것도 못해요..",
            "BlueSpy":"당신은 빨간팀의 스파이입니다! <br> 파란팀인 척 하세요!",

            "Red":"ㅎㅇㅌ",
            "RedAgent":"라운드당 한번<br>다른 플레이어에게 `요원입니다`<br>하면서 카드를 보여주면,<br>상대방은 반드시 카드를 보여줘야 합니다",
            "RedAmbassar":"자신의 카드를 공개 한다면, <br> 두 방 사이를 자유롭게 다닐 수 있습니다 <br><br> 단, 리더및 인질은 <br> 될 수 없으며, <br> 투표도 할 수 없습니다",
            "RedAngel":"오직 <br> 진실만을 말해야 합니다",
            "RedBlind":"게임이 끝날 때 까지 <br>눈을 감고 있어야 합니다",
            "RedBouncer":"카드를 공개 후, <br> 자신이 있는 방이 <br> 반대편 방 보다 사람이 많을 경우<br> 아무 플레이어(리더제외)를 내쫒을 수 있습니다",
            "RedClown":"게임이 끝날 때 까지 <br> 최선을 다해 웃고 있어야 합니다",
            "RedCoyboy":"당신은 수줍어서 <br> 카드공유를 할 때 <br> 자신의 색만 보여줄 수 있습니다",
            "RedDemon":"오직 <br> 거짓만을 말해야 합니다",
            "RedDrBoom":"대통령과 카드공유를 한다면,<br> 즉시 승리합니다!",
            "RedMime":"게임이 끝날 때 까지 <br> 말을 할 수 없습니다",
            "RedBomber":"게임 종료시,<br>대통령과 같은 방에 있다면 승리합니다!",
            "RedSecurity":"카드를 모두에게 공개 한 후,<br> 한명을 지목해 <br> 단 한라운드 동안만 지켜줍니다 <br><br> 전체 게임동안 능력은 한번만 쓸 수 있습니다",
            "RedShy":"당신은 낯을 많이 가려서 <br> 카드(색조차) 공유를 할 수 없습니다<br><br>자신의 카드를 <br> 그냥 보여주는것도 못해요..",
            "RedSpy":"당신은 파란팀의 스파이입니다! <br> 빨간팀인 척 하세요!",

            "GrayAHAB":"",
            "GrayBombBot":"",
            "GrayBulter":"",
            "GrayGamblr":"",
            "GrayIntern":"",
            "GrayJuliet":"",
            "GrayMaid":"",
            "GrayMI6":"",
            "GrayMistrees":"",
            "GrayMoby":"",
            "GrayQueen":"",
            "GrayRival":"",
            "GrayRomeo":"",
            "GraySurvivor":"",
            "GrayVictim":"",
            "GrayWife":""
        };
        
        if(getParam("id")){
            $('#section0').css({"background-image": "url(../assets/card/back.png)"});
            $('#section1').css({"background-image": "url(../assets/card/"+getColor(name)+".png)"});
            $('#section2').css({"background-image": "none"});
            $('#abil').html(ability[name]);
        }
        else{
            $('#section0').css({"background-image": "url(../assets/card/back.png)"});
            $('#section1').css({"background-image": "url(../assets/card/back.png)"});
            $('#section2').css({"background-image": "url(../assets/card/back.png)"});
        }
       
    </script>
</body>

</html>