<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    <ul id="menu">
        <li data-menuanchor="character"><a href="#character">character</a></li>
        <li data-menuanchor="team"><a href="#team">team</a></li>
        <li data-menuanchor="ability"><a href="#ability">team</a></li>
    </ul>

    <div id="section0" class="section" data-name="character" card="back" onclick="changeImage()">
        {% include common/notices.html %}

        <a class="btn-continue animated bounce" href="#team"><img src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
    </div>

    <div id="section1" class="section" data-name="team">
        {% include common/notices.html %}
        <a class="btn-before animated hidden" href="#character"><img style="transform:rotate(180deg);" src="../assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
        <a class="btn-continue animated hidden" href="#ability"><img src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
        
    </div>
    <div id="section2" class="section" data-name="ability">
        {% include common/notices.html %}
        <a class="btn-before animated hidden" href="#team"><img style="transform:rotate(180deg);" src="/assets/images/theme/btn-more.png" width="32px" height="32px"/></a>
        <div id="abil">

        </div>

    </div>
    {% include card/scripts.html %}
    <script>
        const name = decode(getParam("id"));

        function changeImage(){
            if($('#section0').attr("card") == "back"){
                $('#section0').attr("card","front");
                $('#section0').css({"background-image": "url(../assets/card/"+name+".png)"});
            }
            else{
                $('#section0').attr("card","back");
                $('#section0').css({"background-image": "url(../assets/card/back.png)"});
            } 
            
        }
        function getColor(str){
            if(str[0]=="B") return "Blue";
            else if(str[0]=="R") return "Red";
            return "Gray";
        }

        if(getParam("id")){
            $('#section0').css({"background-image": "url(../assets/card/back.png)"});
            $('#section1').css({"background-image": "url(../assets/card/"+getColor(name)+".png)"});
            $('#section2').css({"background-image": "none"});
            $('#abil').html(ability[name]);
        }
        else{
            $('#section0').css({"background-image": "url(../assets/card/back.png)"});
            $('#section1').css({"background-image": "url(../assets/card/back.png)"});
            $('#section2').css({"background-image": "url(../assets/card/back.png)"});
        }
       function win(obj){
        $(".winbtn").addClass('hidden');
        $("#whoWin").html(obj.innerHTML);
        $("#whoWin").removeClass('hidden');
       
       }
    </script>
</body>

</html>