<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}
    <ul id="menu">
        <li data-menuanchor="character"><a href="#character">character</a></li>
        <li data-menuanchor="team"><a href="#team">team</a></li>
        <li data-menuanchor="ability"><a href="#ability">team</a></li>
    </ul>

    <div id="section0" class="section" data-name="character">
        {% include common/notices.html %}
        <div class="center hidden">

        </div>
       
        
        <br>
        <div id="inputDiv">
            <input type="number" id="peopleNum" style="width: 42px;"></input>
            <button id="getCard" onclick="randCard()">GO</button>
        </div>
        <div id="golink" class="hidden">
            <!-- <a id="kakao-link-btn" href="javascript:sendLink(0)">
                <img
                  src="https://aristohyun.github.io/2R1B/assets/card/back.png" width="48px" height="auto"
                />
            </a> -->
            
        </div>
    
</div>
    {% include home/scripts.html %}
      <script type="text/javascript">

        let BlueTeam = new Array();
        let RedTeam = new Array();
        let Team = new Array();

        function randSwap(arr){
            for(k in arr){
                for(i in arr){
                    let ran = parseInt(Math.random()*10000) % arr.length;
                    [arr[i], arr[ran]] = [arr[ran], arr[i]];
                }
            }
        }
        function randCard(){
            const TeamNum = $("#peopleNum").val()/2;
            if($("#peopleNum").val()%2) gray[parseInt(Math.random()*10000) % gray.lenght];

            //const blueTeam = blue[parseInt(Math.random()*10000) % charNum];
            //const redTeam = red[parseInt(Math.random()*10000) % charNum];
            //const grayTeam = gray[parseInt(Math.random()*10000) % gray.lenght];
            let blues=new Array(), reds=new Array();

            if(TeamNum>5){
                blues = blue.concat(blueOver10);
                reds = red.concat(redOver10);
            } 
            else{
                blues = blue;
                reds = red;
            } 

            randSwap(blues);
            randSwap(reds);

            BlueTeam.push("BluePresident");
            RedTeam.push("RedBomber");
            let i=0;
            while(BlueTeam.length != TeamNum){
                BlueTeam.push(blues[i]);
                RedTeam.push(reds[i]);
                i++;
            }
            Team = BlueTeam.concat(RedTeam);
            randSwap(Team);

            console.log(Team);

            $("#inputDiv").addClass("hidden");

            i=0;
            while(i != Team.length){
                let $link = $("<a id='kakao-link-btn' href='javascript:sendLink("+i+")'> </a>");
                    $link.append('<img src="https://aristohyun.github.io/2R1B/assets/card/back.png" width="48px" height="auto"/>');
                    $("#golink").append($link);
                    i++;
            }
            $("#golink").removeClass("hidden");
            //location.href = "card/?id="+incode(temp);
        }

        Kakao.init('b1d14543a508d59e70546c5cdfbbf30c');
        function sendLink(i) {
            let dis = "receiver";
            if(i==0) dis = "sender"

            Kakao.Link.sendCustom({
            templateId: 32939,
            templateArgs: {
                header:'https://aristohyun.github.io/2R1B/assets/card/back.png',
                thumbnail:'https://aristohyun.github.io/2R1B/assets/card/logo.png',
                id:incode(Team[i]),
                display:dis,
            },
        })
    }
     </script>

</body>

</html>