<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}
    <ul id="menu">
        <li data-menuanchor="character"><a href="#character">character</a></li>
        <li data-menuanchor="team"><a href="#team">team</a></li>
        <li data-menuanchor="ability"><a href="#ability">team</a></li>
    </ul>

    <div id="section0" class="section" data-name="character">
        {% include common/notices.html %}
        <div class="center">
            <div class="team blue" id="blueteam">
                <input type="checkbox" name="president" value="President" checked disabled>  President
                <input type="checkbox" name="Agent" value="Agent" >  Agent
            </div>
            <div class="team red" id="redteam">
                <input type="checkbox" name="Bomber" value="true" checked disabled>  Bomber
                <input type="checkbox" name="Agent" value="Agent" >  Agent
            </div>
            <div id="grayteam">

            </div>
        </div>
       
        
        <br>
        <input type="number" id="peopleNum"></input>
        <button id="getCard" onclick="ranCard()">random card</button>
    <a id="kakao-link-btn" href="javascript:sendLink()">
        <img
          src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
        />
    </a>
</div>
    {% include home/scripts.html %}
      <script type="text/javascript">
        // 웹 플랫폼 도메인 등 초기화한 앱의 설정이 그대로 적용됩니다.
        // 초기화한 앱에 현재 도메인이 등록되지 않은 경우 에러가 발생합니다.
        Kakao.init('b1d14543a508d59e70546c5cdfbbf30c')
        function sendLink() {
          Kakao.Link.sendCustom({
            templateId: 32939,
            templateArgs: {
                'key': 'eJHqhJlV'
            }
          })
        }
      </script>
    
     <script>
        function ranCard(){
            const TeamNum = $("#peopleNum").val()/2;
            if($("#peopleNum").val()%2) gray[parseInt(Math.random()*10000) % 16];

            //const blueTeam = blue[parseInt(Math.random()*10000) % 15];
            //const redTeam = red[parseInt(Math.random()*10000) % 15];
            //const grayTeam = gray[parseInt(Math.random()*10000) % 15];
            
            var BlueTeam = new Set();
            var RedTeam = new Set();

            BlueTeam.add("BluePresident");
            RedTeam.add("RedBomber");

            while(BlueTeam.size != TeamNum){
                 BlueTeam.add(blue[parseInt(Math.random()*10000) % 15]);
            }
            while(RedTeam.size != TeamNum){
                RedTeam.add(red[parseInt(Math.random()*10000) % 15]);
            }
            console.log(BlueTeam);
            console.log(RedTeam);

            //location.href = "card/?id="+incode(temp);
        }
     </script>

</body>

</html>